.about-business-block {
  padding: 30px 0 57px;
  border-top: 1px solid $gainsboro;
  opacity: 0;

  .is-active & {
    animation: fade-in 1s $sec-timing-function both;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.3}s;
    }
  }

  &:last-of-type {
    border-bottom: 1px solid $gainsboro;
  }

  @include viewport($breakpoint-mobile) {
    padding: 21px 0 41px;
  }
}

.about-business-block-tag {
  font-size: 13px;
  color: $echo-blue;
  font-weight: 600;
}

.about-business-block-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0;

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 42px 0 0;
  }
}

.about-business-block-title {
  font-size: 22px;
  flex: 0 0 auto;
  padding: 11px 0 0 59px;
  font-weight: 600;

  @include viewport($breakpoint-mobile) {
    font-size: 17px;
    padding: 0 0 23px;
  }
}

.about-business-block-text {
  font-size: 13px;
  line-height: 1.8;
  flex: 0 0 300px;
  letter-spacing: 0.004em;
}