.about-slider {
  @include viewport($breakpoint-mobile) {
   margin: -30px 0 0;
  }

  .swiper-container {
    opacity: 0;
    transition: opacity 1s 0.5s $sec-timing-function;

    &.swiper-container-initialized {
      opacity: 1;

      .swiper-slide {
        width: 560px;

        @include viewport($breakpoint-mobile) {
          width: 320px;
        }
      }
    }
  }
}

// .about-slider-image-wrap {
//   width: 580px;
//   padding: 0 10px;

//   @include viewport($breakpoint-mobile) {
//     width: 320px;
//   }
// }

.about-slider-image {
  width: 100%;
}

.about-statement {
  padding: 183px 0 180px;

  @include viewport($breakpoint-mobile) {
    padding: 66px 0 91px;
  }
}

.about-statement-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 0 39px;
  }
}

.about-statement-heading {
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  letter-spacing: 0;
  font-family: $midashi-go;

  .is-active & {
    animation: fade-in-bottom 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    padding: 0 0 59px;
    letter-spacing: 0.05em;
  }
}

.about-statement-image {
  position: absolute;
  left: 33px;
  bottom: -18px;
  width: 139px;
  opacity: 0;

  &.is-active {
    animation: fade-in 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    position: static;
    margin: 50px auto 0;
  }
}

.about-statement-content {
  opacity: 0;
  flex: 0 0 66.3%;
  margin: -12px 0 0;

  .is-active & {
    animation: fade-in-bottom 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    flex: 0 0  auto;
  }
}

.about-statement-text {
  font-size: 17px;
  line-height: 2.2;
  padding: 0 0 34px;
  letter-spacing: 0.05em;

  @include viewport($breakpoint-mobile) {
    font-size: 13px;
    letter-spacing: 0.01em;
    padding: 0 0 26px;
    line-height: 2;
  }
}

.about-statement-slogan {
  font-size: 36px;
  font-weight: 600;
  padding: 40px 0 0;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 20px;
    padding: 27px 0 0;
  }
}

.about-banner {
  margin: 0 0 170px;
  overflow: hidden;

  @include viewport($breakpoint-mobile) {
    margin: 0 0 60px;
  }
}

.about-banner-image {
  width: 100%;
  transform: scale(1.1);
  opacity: 0;
  transition: opacity 1s 0.5s $sec-timing-function,transform 1.6s 0.5s $sec-timing-function;

  .is-active & {
    opacity: 1;
    transform: scale(1);
  }
}

.about-business-wrapper {
  position: relative;
  display: flex;

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 0 39px;
  }
}

.about-business-image {
  position: absolute;
  right: 23px;
  bottom: 16px;
  width: 210px;
  opacity: 0;

  &.is-active {
    animation: fade-in 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    position: static;
    margin: 77px auto 0;
    display: block;
    width: 214px;
    transform: translate(-5px, 0);
  }
}

.about-business-wrap {
  width: 67%;

  @include viewport($breakpoint-mobile) {
    width: 100%;
  }
}

.about-action {
  padding: 169px 0 160px;
  margin: 160px 0 169px;
  background-color: $zircon;

  @include viewport($breakpoint-mobile) {
    padding: 67px 0 80px;
    margin: 118px 0 67px;
  }
}

.about-action-heading {
  font-size: 20px;
  padding: 0 0 100px;
  font-weight: 600;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    padding: 0 19px 49px;
    letter-spacing: 0.1em;
  }
}

.about-action-content {
  display: flex;
  justify-content: space-between;

  @include viewport($breakpoint-mobile) {
    display: block;
  }
}

.about-intelligence-heading,
.about-history-heading {
  font-size: 20px;
  margin: 0 0 75px;
  font-weight: 600;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    margin: 0 0 50px;
  }
}

.about-intelligence-wrapper {
  opacity: 0;

  &.is-active {
    animation: fade-in-bottom 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    padding: 0 39px;
  }
}

.about-intelligence-content {
  display: flex;
  justify-content: space-between;

  @include viewport($breakpoint-mobile) {
    display: block;
  }
}

.about-intelligence-content-left,
.about-intelligence-content-right {
  flex: 0 0 47%;
}

.about-intelligence-content-right {
  .description-list {
    padding: 26px 0 28px;

    dt {
      width: 150px;

      @include viewport($breakpoint-mobile) {
        width: 93px;
        flex: 0 0 auto;
      }
    }

    &:first-of-type {
      @include viewport($breakpoint-mobile) {
        border-top: 0;
      }
    }
  }
}

.about-history {
  margin: 189px 0 0;

  @include viewport($breakpoint-mobile) {
    margin: 67px 0 0;
  }
}

.about-history-wrapper {
  opacity: 0;

  .description-list {
    padding: 30px 0 25px;
    border-bottom: 1px solid $gainsboro;
    border-top: 0;

    // dt {
    //   letter-spacing: 0;
    // }

    dd {
      letter-spacing: 0.02em;
    }

    &:first-of-type {
      border-top: 1px solid $gainsboro;
    }

    @include viewport($breakpoint-mobile) {
      padding: 17px 0 19px;
    }
  }

  &.is-active {
    animation: fade-in-bottom 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    padding: 0 39px;
  }
}

.about-history-btn {
  text-align: center;
  margin: 53px 0 0 -20px;

  .button-svg-wrap {
    width: 285px;
    height: 285px;

    @include viewport($breakpoint-mobile) {
      width: 200px;
      height: 200px;
    }
  }

  .button-circle-text {
    font-size: 15px;
  }

  @include viewport($breakpoint-mobile) {
    margin: 36px 0 0 -1px;
  }
}

.about-sdg {
  margin: 124px 0 0;
  padding: 158px 0 67px;
  background-color: $zircon;

  @include viewport($breakpoint-mobile) {
    padding: 66px 0 80px;
    margin: 55px 0 0;
  }
}

.about-sdg-heading {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 76px;
  letter-spacing: 0.04em;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    padding: 0 19px;
    margin: 0 0 41px;
  }
}

.about-sdg-news-list {
  width: 100% !important;
  //columns: 2;
  //column-gap: 14.8%;

  .gutter-sizer {
    width: 14.8%;

    @include viewport($breakpoint-mobile) {
      width: 0;
    }
  }
  
  // @include viewport($breakpoint-mobile) {
  //   columns: initial;
  //   column-gap: 0;
  // }
}

.about-sdg-block {
  margin: 0 0 94px 0;
  display: block;
  opacity: 0;
  transition: opacity 1s $sec-timing-function;
  width: 460px;

  .is-active & {
    opacity: 1;
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}n) {
      transition-delay: #{$i * 0.3}s;
    }
  }

  &:nth-child(3) {
    padding-top: 112px;
    
    @include viewport($breakpoint-mobile) {
      padding-top: 0;
    }
  }

  &:nth-child(5) {
    @include viewport($breakpoint-mobile) {
      display: none;
    }
  }

  @include viewport($breakpoint-mobile) {
    margin: 0 0 38px 0;
    width: auto;
  }
}

.about-sdg-btn {
  &.button-round {
    margin: 19px 0 0 0;
    display: none;

    @include viewport($breakpoint-mobile) {
      display: flex;
      margin: 19px auto 0;
    }
  }
}