.about-action-block {
  width: 314px;
  height: 314px;
  background-color: $white;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;

  .is-active & {
    animation: fade-in 1s $sec-timing-function both;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.3}s;
    }
  }

  &:nth-of-type(2) {
    margin-top: -56px;

    @include viewport($breakpoint-mobile) {
      margin-top: 23px;
    }
  }

  @include viewport($breakpoint-mobile) {
    width: auto;
    height: 337px;
    margin: 23px 0 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.about-action-block-title {
  font-family: $poppins;
  font-size : 32px;
  color: $white;
  text-transform: uppercase;
  text-shadow:
   -1px -1px 0 $echo-blue,
    1px -1px 0 $echo-blue,
    -1px 1px 0 $echo-blue,
     1px 1px 0 $echo-blue;
}

.about-action-block-text {
  font-size: 13px;
  line-height: 1.5;
}