.aim-wrapper {
  position: relative;
  width: 1140px;
  margin: 0 auto;

  @include viewport($breakpoint-mobile) {
    width: auto;
  }

  @include viewport($breakpoint-large, min) {
    width: $site-size-large;
  }
}

.aim-img-top-wrapper {
  display: flex;
  justify-content: flex-end;

  @include viewport($breakpoint-mobile) {
    justify-content: flex-start;
  }
}

.aim-img-top {
  width: 420px;
  margin-top: -67px;
  opacity: 0;

  &.is-active {
    animation: fade-in-bottom 1s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    min-width: 207px;
    width: 50%;
    margin-top: -105px;
  }

  @include viewport($breakpoint-large, min) {
    width: 39%;
  }
}

.aim-img-top-img {
  width: 100%;
}

.aim-img-wrap {
  flex: 0 0 600px;
  opacity: 0;

  .is-active & {
    animation: fade-in-bottom 1s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    flex: 0;
    width: auto;
  }

  @include viewport($breakpoint-large, min) {
    flex: 0 0 52.5%;
  }
}

.aim-img-img {
  width: 100%;
}

.aim-heading {
  font-size: 24px;
  line-height: 2;
  padding: 26px 0 43px;
  opacity: 0;
  font-weight: 600;
  font-family: $midashi-go;

  .is-active & {
    //animation: fade-in 1s 0.5s $sec-timing-function both;
    animation: fade-in 0.3s 1.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    font-size: 20px;
    padding: 22px 0 23px;
  }

  @include viewport($breakpoint-large, min) {
    font-size: 26px;
  }
}

.aim-content-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;

  @include viewport($breakpoint-mobile) {
    display: block;
    margin: 0;
    padding: 56px 0 0 37px;
  }
}

.aim-text-wrap {
  padding: 176px 0 0 120px;

  @include viewport($breakpoint-mobile) {
    padding: 55px 37px 0 0;
  }

  @include viewport($breakpoint-large, min) {
    width: 39%;
    padding-left: 0;
  }
}

.aim-text {
  line-height: 2;
  opacity: 0;
  font-size: 15px;
  letter-spacing: 0;

  .is-active & {
    //animation: fade-in 1s 1s $sec-timing-function both;
    animation: fade-in 0.5s 1.6s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    font-size: 13px;
  }

  @include viewport($breakpoint-large, min) {
    font-size: 17px;
  }
}

.aim-btn {
  margin: 31px 0 0 -15px;
  opacity: 0;

  .is-active & {
    animation: fade-in 1s 1.5s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    margin: 30px 0 0 -8px;
  }

  .button-text {
    @include viewport($breakpoint-large, min) {
      font-size: 17px;
    }
  }
}