@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes index-image1 {
  0% {
    opacity: 0;
    transform: rotate(12deg) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@keyframes index-image2 {
  0% {
    opacity: 0;
    transform: rotate(22deg) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@keyframes index-image3 {
  0% {
    opacity: 0;
    transform: rotate(24deg) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@keyframes skewAnimation {
  0% {
    transform: translate3d(0, 0, 0) rotateX(90deg) skewX(-35deg);
    opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) rotateX(0) skewX(0);
    opacity: 1;
  }
}

@keyframes footsteps {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(55%);
  }
  100% {
    transform: translateX(-102%);
  }
}