.banner {
  padding: 0 60px;

  @include viewport($breakpoint-mobile) {
    padding: 0;
  }
}

.banner-content {
  position: relative;
}

.banner-img {
  width: 100%;
}

.banner-text {
  color: $white;
  font-size: 28px;
  position: absolute;
  bottom: 130px;
  left: 60px;

  @include viewport($breakpoint-mobile) {
    font-size: 21px;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 186px;
  }

  @include viewport($breakpoint-mobile-l) {
    font-size: 17px;
  }
}

.banner-scroll {
  position: absolute;
  right: 60px;
  bottom: 80px;
  width: 124px;

  @include viewport($breakpoint-mobile) {
    width: 84px;
    right: 35px;
    bottom: 46px;
  }

  @include viewport($breakpoint-mobile-l) {
    width: 55px;
    right: 23px;
    bottom: 66px;
  }
}

.banner-scroll-img {
  width: 100%;
}