.banner {
  padding: 0 60px;

  @include viewport($breakpoint-mobile) {
    padding: 0;
  }
}

.banner-content {
  position: relative;
  overflow: hidden;
  height: calc((90vh - 136px) + 200px);
  //min-height: 823px;
  background-image: url('../images/texture.jpg');
  background-repeat: repeat;
  background-position: 0 0;

  @include viewport($breakpoint-mobile) {
    height: calc((90vh - 74px) + 194px);
    background-image: none;
    background-color: $echo-blue;
  }
}

.banner-content-bg {
  height: calc(90vh - 136px);
  //min-height: 623px;
  position: relative;

  @include viewport($breakpoint-mobile) {
    height: calc(90vh - 74px);
    //min-height: 490px;
  }
}

.banner-content-img-wrap {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.1);
  opacity: 0;
  transition: opacity 1s $sec-timing-function,transform 1.6s $sec-timing-function;
  background-position: center 100%;

  .is-active & {
    opacity: 1;
    transform: scale(1);
  }

  @include viewport($breakpoint-mobile) {
    background-position: center 100%;
  }
}

.banner-img {
  width: 100%;
}

.banner-text {
  color: $white;
  font-size: 28px;
  position: absolute;
  bottom: -12px;
  left: 60px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 21px;
    left: 9px;
    right: 0;
    text-align: center;
    bottom: -6px;
    top: auto;
  }
}

.banner-text-img {
  @include viewport($breakpoint-mobile) {
    width: 304px;
    margin: 0 auto;
  }
}

.banner-scroll {
  position: absolute;
  right: 60px;
  bottom: -62.5px;
  width: 124px;

  @include viewport($breakpoint-mobile) {
    width: 84px;
    right: 37px;
    bottom: 54px;
    top: auto;
  }

  // @include viewport($breakpoint-mobile-l) {
  //   //width: 55px;
  //   right: 23px;
  //   bottom: 66px;
  // }
}

.banner-scroll-img {
  width: 100%;
  animation: rotate 50s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}