.branch {

}

.branch-image {
  display: block;
  width: 111px;
  margin-bottom: 46px;
}

.branch-heading {
  font-size: 17px;
  margin-bottom: 19px;
  font-weight: 600;
}

.branch-text {
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 0.033em;
}