.branch {
}

@for $i from 2 through 6 {
  .branch {
    &:nth-child(#{$i}) {
      transition-delay: #{$i*50}ms;
    }
  }
}

.branch-frame {
  min-height: 190px;
  margin-bottom: 46px;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 26px;
    text-align: center;
  }
}

.branch-image {
  display: inline-block;
  max-height: 190px;
}

.branch-heading {
  font-size: 17px;
  margin-bottom: 19px;
  font-weight: 600;
  font-family: $midashi-go;
  line-height: 1.3;

  @include viewport($breakpoint-mobile) {
    font-size: 15px;
    margin-bottom: 21px;
  }  
}

.branch-text {
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 0.033em;
}