.contact {}

.contact-block {
  display: flex;
  justify-content: space-between;

  .mw_wp_form.mw_wp_form_input {
    width: 662px;

    @include viewport($breakpoint-mobile) {
      width: auto;
    }

    @include viewport($breakpoint-large, min) {
      width: 60%;
    }
  }

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 38px 18px 0;
  }
}

.contact-form {
  max-width: 100%;
  width: 100%;
  flex-shrink: 0;

  @include viewport($breakpoint-large, min) {
    max-width: 100%;
  }
}

.contact-aside {
  width: 300px;
  flex-shrink: 0;

  @include viewport($breakpoint-mobile) {
    display: none;
  }
}

.contact-text {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.048em;
  line-height: 2;
  margin-bottom: 54px;

  @include viewport($breakpoint-mobile) {
    font-size: 13px;
    margin-bottom: 59px;
  }

  a {
    display: block;
    color: $echo-blue;
    text-decoration: underline;
  }
}

.contact-hr {
  border: 0;
  border-top: 1px solid $gainsboro
}

.contact-label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 17px;
  font-family: $midashi-go;
}

.contact-info {
  font-weight: 300;
  font-size: 13px;
  white-space: pre-line;
  line-height: 2;
  margin-bottom: 38px;
}

.contact-sns {
  padding-top: 40px;

  .social-icon-icon {
    border: 1px solid $nero;
    color: $nero;
  }

  .social-icon-list {
    margin-top: 32px;
  }

  .social-icon-item {
    padding: 0 16px 0 0;
  }
}

.contact-form-success {
  text-align: center;
}