#cookie-law-info-bar {
  background-color: transparent!important;
  box-shadow: none!important;
  text-align: left!important;
  padding: 0 19px 20px 20px!important;

  @include viewport($breakpoint-mobile) {
    padding-left: 19px!important;
  }
}

.cookie-law-container {
  display: inline-flex;
  align-items: flex-start;
  background-color: $white;
  padding: 22px 25px 24px 73px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 17px 10px 33px 64px;
    border: 1px solid $nero;
  }

  &::before {
    position: absolute;
    top: 16px;
    left: 24px;
    content: '';
    height: 34px;
    width: 34px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('#{$image-path}/cookie.jpg');

    @include viewport($breakpoint-mobile) {
      height: 28px;
      width: 28px;
      top: 23px;
      left: 22px;
    }
  }

  a {
    text-decoration: underline;
    font-weight: inherit;
    cursor: pointer;
    word-break: break-all;
  }
}

.cookie-law-content {
  margin-right: 28px;
}

.cookie-law-message {
  font-size: 12px;
  letter-spacing: -0.015em;
  line-height: 1.9;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 19px;
  }
}

.cookie-law-btn {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 4px;

  @include viewport($breakpoint-mobile) {
    padding-top: 0;
  }

  a {
    font-size: 14px;
    white-space: nowrap;
  }

  .cookie_action_close_header {
    margin-right: 30px;
  }
}