.department {
  background-color: $zircon;
}

.department-block {
  padding: 130px 0 72px;

  @include viewport($breakpoint-mobile) {
    padding: 69px 20px 72px;
  }
}

.department-heading {
  font-size: 20px;
  margin-bottom: 74px;
  font-weight: 600;
  letter-spacing: 0.09em;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    margin-bottom: 48px;
  }
}

.department-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -34px;

  @include viewport($breakpoint-mobile) {
    display: block;
    margin: 0
  }
}

.department-branch {
  width: calc((100%/3) - 68px);
  margin: 0 34px 88px;
  transform: translateY(75px);
  opacity: 0;
  transition: all 1s ease-out;

  @include viewport($breakpoint-mobile) {
    width: 100%;
    margin: 0 0 49px;
  }
}

@for $i from 1 through 6 {
  .is-show .department-branch {
    &:nth-child(#{$i}) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: #{$i*100}ms;
    }
  }
}