.department {
  background-color: $zircon;
}

.department-block {
  padding: 20px 0;
}

.department-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.department-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -34px
}

.department-branch {
  width: calc((100%/3) - 68px);
  margin: 0 34px
}