.footer {
  padding: 200px 0 160px;

  @include viewport($breakpoint-mobile) {
    padding: 120px 0 83px;
  }
}

.footer-top {
  overflow: hidden;
  position: relative;
}

.footer-top-image-wrap {
  position: relative;
  overflow: hidden;
}

.footer-top-text {
  font-family: $alegreya;
  font-size: 120px;
  color: $white;
  width: 1706px;
  position: absolute;
  left: 50%;
  bottom: -110px;
  transform: translate(-50%, 0%);
  z-index: 1;
  white-space: nowrap;
  text-shadow:
   -1px -1px 0 $gainsboro,
    1px -1px 0 $gainsboro,
    -1px 1px 0 $gainsboro,
     1px 1px 0 $gainsboro;
  transition: bottom 1s 1s $sec-timing-function;


  .is-active & {
    bottom: 10px;
  }



  @include viewport($breakpoint-mobile) {
    font-size: 88px;
    bottom: 15px;
  }
}

.footer-top-image {
  width: 116px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  opacity: 0;

  .is-active & {
    animation: fade-in 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    width: 102px;
  }
}

.footer-top-heading {
  text-align: center;
  margin: 0 0 35px;
  opacity: 0;

  .is-active & {
    animation: fade-in 1s 0.6s $sec-timing-function both;
  }
}

.footer-top-heading-text {
  @include viewport($breakpoint-mobile) {
    width: 184px;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include viewport($breakpoint-mobile) {
    display: block;
  }
}

.footer-bottom {
  padding: 100px 0 0;
}

.footer-shoplist {
  width: 420px;

  .shoplist-title,
  .shoplist-link {
    color: $base-font-color;
  }

  @include viewport($breakpoint-mobile) {
    width: 280px;
  }
}

.footer-social {
  display: flex;
  align-items: center;

  .footer-social-text {
    font-size: 12px;
    display: inline-block;
    padding: 0 25px 0 0;
    text-decoration: underline;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    @include viewport($breakpoint-mobile) {
      text-decoration: underline;
      padding: 0 0 40px 0;
    }
  }

  .social-icon-item {
    &:last-of-type {
      padding-right: 0;
    }

    &:hover {
      .social-icon-icon {
        background-color: $nero;

        &:before {
          color: $white;
        }
      }
    }
  }

  .social-icon-icon {
    border: 1px solid $nero;
    transition: background-color 0.5s ease-in-out;

    &:before {
      color: $nero;
      transition: color 0.5s ease-in-out;
    }
  }

  @include viewport($breakpoint-mobile) {
    display: block;
    border-top: 1px solid $gainsboro;
    margin: 57px 0 0;
    padding: 57px 0 0;
  }
}

.footer-copyright {
  font-family: $alegreya;
  font-size: 12px;
  color: #bbb;
  padding: 37px 0 0;
}