.footer {
  padding: 160px 0 80px;
  overflow: hidden;

  @include viewport($breakpoint-mobile) {
    padding: 130px 0 83px;
    position: relative;
    z-index: 1;
  }
}

.footer-top {
  //overflow: hidden;
  position: relative;
}

.footer-top-image-wrap {
  position: relative;
  overflow: hidden;
}

.footer-top-text {
  font-family: $ttcommons;
  font-size: 120px;
  color: $white;
  width: 1706px;
  position: absolute;
  left: 50%;
  bottom: -110px;
  transform: translate(-50%, 0%);
  z-index: 1;
  white-space: nowrap;
  -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ddd;
  // text-shadow:
  //  -1px -1px 0 $gainsboro,
  //   1px -1px 0 $gainsboro,
  //   -1px 1px 0 $gainsboro,
  //    1px 1px 0 $gainsboro;
  transition: bottom 1s 1s $sec-timing-function;
  letter-spacing: 0.03em;
  cursor: default;


  .is-active & {
    bottom: 23%;
  }



  @include viewport($breakpoint-mobile) {
    font-size: 88px;
    bottom: 15px;
  }
}

.footer-top-image {
  width: 130px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translate(-2px, 0);

  .is-active & {
    animation: fade-in 1s 0.3s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    width: 102px;
    transform: translate(-2px, 0)
  }
}

.footer-top-heading {
  text-align: center;
  margin: 0 0 35px;
  opacity: 0;

  .is-active & {
    animation: fade-in 1s 0.6s $sec-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    margin: 0 0 27px;
  }
}

.footer-top-heading-text {
  @include viewport($breakpoint-mobile) {
    width: 184px;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include viewport($breakpoint-mobile) {
    display: block;
  }
}

.footer-bottom {
  padding: 150px 0 0;

  @include viewport($breakpoint-mobile) {
    padding: 97px 20px 0;
  }
}

.footer-shoplist {
  width: 400px;

  // .shoplist-list {
  //   margin-left: -2px;

  //   @include viewport($breakpoint-mobile) {
  //     margin-left: 0;
  //   }
  // }

  .shoplist-title { 
    @include viewport($breakpoint-mobile) {
      padding: 0 0 20px;
    }
  }

  .shoplist-title,
  .shoplist-link {
    color: $base-font-color;
  }

  @include viewport($breakpoint-mobile) {
    width: 290px;
  }
}

.footer-social {
  display: flex;
  align-items: center;
  transform: translate(11px, -4px);
  justify-content: space-between;
  width: 358px;

  .footer-social-text {
    font-size: 12px;
    display: inline-block;
    padding: 0;
    text-decoration: underline;
    transition: opacity 0.5s ease-in-out;
    letter-spacing: 0.05em;
    flex: 0 0 155px;
    transform: translateX(4px);

    &:hover {
      opacity: 0.5;
    }

    @include viewport($breakpoint-mobile) {
      text-decoration: underline;
      padding: 0 0 34px 0;
      flex: 0 0 auto;
      width: 150px;
      transform: translateX(-1px);
    }
  }

  .social-icon-item {
    padding: 0 0 0 15px;

    &:last-of-type {
      padding-right: 0;
    }

    &:hover {
      .social-icon-icon {
        background-color: $nero;

        &:before {
          color: $white;
        }
      }
    }

    @include viewport($breakpoint-mobile) {
      padding: 0 15px 0 0;
    }
  }

  .social-icon-icon {
    border: 1px solid $nero;
    transition: background-color 0.5s ease-in-out;

    &:before {
      color: $nero;
      transition: color 0.5s ease-in-out;
    }
  }

  @include viewport($breakpoint-mobile) {
    display: block;
    border-top: 1px solid $gainsboro;
    margin: 41px 0 0;
    padding: 55px 0 0;
    transform: none;
    width: auto;
  }
}

.footer-copyright {
  font-family: $ttcommons;
  font-size: 12px;
  color: #bbb;
  padding: 37px 0 0;
  letter-spacing: 0.05em;
}