.member {
  display: block;

  &:active,
  &:focus {
    outline: none;
  }
}

.member-frame {
  width: 100%;
  height: 306px;

  @include viewport($breakpoint-mobile) {
    height: 200px;
    margin-bottom: 30px;
  }
}

.member-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.member-content {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include viewport($breakpoint-mobile) {
    display: block;
    padding-left: 18px;
  }
}

.member-link {
  display: inline-block;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 15px;
  }
}

.member-heading {
  text-decoration: underline;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 2;
  max-width: 216px;
  display: inline-block;

  @include viewport($breakpoint-mobile) {
    font-size: 15px;
    text-decoration: none;
    line-height: 1.8;
    margin-bottom: 15px;
  }
}

.member-info {}

.member-name,
.member-position {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  display: block;
  position: relative;

  @include viewport($breakpoint-mobile) {
    display: inline-block;
    vertical-align: middle;
  }
}

.member-position {
  @include viewport($breakpoint-mobile) {
    padding-left: 17px;
  }

  &::before {
    @include viewport($breakpoint-mobile) {
      position: absolute;
      top: 4px;
      left: 6px;
      content: '';
      width: 1px;
      height: 10px;
      background-color: $nero;
    }
  }
}