.nav {
  position: relative;
  z-index: 2;
}

.nav-item {
  margin: 0 0 0 28px;
  display: inline-block;
  position: relative;

  &:before {
    content: "\e904";
    width: 100%;
    // height: 6px;
    color: $jordy-blue;
    font-size: 6px;
    text-align: center;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    // background-image: url(#{$image-path}/nav-hover-icon.png);
    // background-size: contain;
    // background-repeat: no-repeat;
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: opacity $duration $timing-function;

    @include viewport($breakpoint-mobile) {
      content: normal;
    }
  }

  &:hover,
  &.is-active {
    &::before {
      opacity: 1;
    }
  }

  &:last-of-type {
    margin: 0 0 0 46px;

    &:after {
      content: "";
      width: 1px;
      height: 23px;
      background-color: #bbb;
      position: absolute;
      left: -24px;
      top: -3px;

      @include viewport($breakpoint-mobile) {
        content: normal;
      }
    }

    @include viewport($breakpoint-mobile) {
      margin: 0;
    }
  }

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 0 0 24px;
    margin: 0;
  }
}

.nav-link {
  font-size: 12px;
  color: $nero;
  font-weight: 600;

  @include viewport($breakpoint-mobile) {
    color: $white;
    font-size: 17px;
  }
}