.news-block {
  //width: 314px;
  display: inline-block;
  padding: 0 34px 60px 34px;
  flex-shrink: 0;
  flex-grow: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  .is-active & {
    //animation: fade-in $fade-duration $fade-timing-function forwards;
    opacity: 1;
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}n) {
      transition-delay: #{$i * 0.3 + 1}s;
    }
  }

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 0 0 50px;
    width: auto;
  }

  @include viewport($breakpoint-large, min) {
    width: 29%;
  }
}

// .is-mac {
//   .news-block {
//     @include viewport($breakpoint-large, min) {
//       width: 29%;
//     }
//   }
// }