.news-article {
  width: 314px;

  &:hover {
    .news-article-image {
      transform: scale(1.1);
    }

    .news-article-heading,
    .news-article-date {
      opacity: 0.7;
    }
  }

  @include viewport($breakpoint-mobile) {
    width: auto;
  }
}

.news-article-link {
  color: $nero;
}

.news-article-image {
  width: 100%;
  transition: transform 0.5s $sec-timing-function;
}

.news-article-image-wrap {
  overflow: hidden;
}

.news-article-heading {
  line-height: 2;
  padding: 15px 0 21px;
  transition: opacity 0.5s ease-in-out;
  font-weight: 600;
  font-family: $midashi-go;
  font-size: 15px;

  span {
    border-bottom: 1px solid $nero;
  }

  @include viewport($breakpoint-mobile) {
    padding: 13px 18px 17px;
  }
}

.news-article-date {
  font-size: 14px;
  transition: opacity 0.5s ease-in-out;
  font-family: $ttcommons;
  letter-spacing: 0.08em;

  @include viewport($breakpoint-mobile) {
    padding: 0 20px;
  }
}

.news-article-textwrap {
  @include viewport($breakpoint-mobile) {
    padding: 0 20px;
  }
}