.error404 {
  .header,
  .footer {
    display: none;
  }
}

.page-404 {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    font-family: $ttcommons;
    font-size: 150px;
    color: $white;
    -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ddd;
    position: absolute;
    content: '404 ERROR 404 ERROR';
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    letter-spacing: 0.09em;
    pointer-events: none;
    z-index: -1;

    @include viewport($breakpoint-mobile) {
      font-size: 88px;
    }
  }

  &::before {
    top: -22px;

    @include viewport($breakpoint-mobile) {
      top: -12px;
    }
  }

  &::after {
    bottom: -31px;

    @include viewport($breakpoint-mobile) {
      bottom: -17px;
    }
  }
}

.page-404-heading {
  font-size: 40px;
  text-transform: uppercase;
  font-family: $ttcommons;
  margin-bottom: 28px;
  letter-spacing: 0.057em;

  @include viewport($breakpoint-mobile) {
    font-size: 26px;
  }
}

.page-404-par {
  text-align: center;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 32px;
  letter-spacing: 0.01em;

  @include viewport($breakpoint-mobile) {
    font-size: 13px;
  }
}

.page-404-link {
  display: block;
  margin-bottom: 61px;
  text-decoration: underline;
  font-size: 15px;
  letter-spacing: -0.065em;

  @include viewport($breakpoint-mobile) {
    font-size: 13px;
  }
}

.page-404-image {
  display: block;
  width: 245px;
  margin-left: -19px;

  @include viewport($breakpoint-mobile) {
    width: 208px;
    margin-left: 0;
  }
}