.position {
  margin-top: 164px;
}

.position-block {}

.position-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 74px;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 48px;
  }
}

.position-accordion {
  &:last-child {
    .accordion-block {
      border-bottom: 1px solid $gainsboro
    }
  }
}

.position-vacancy {
  font-size: 16px;
  padding: 55px 0;
  border-color: $gainsboro;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;

  @include viewport($breakpoint-mobile) {
    font-size: 14px;
    padding-left: 20px;
    font-weight: normal;
    padding: 45px 0 45px 20px
  }
}