.position {
  margin-top: 164px;
}

.position-block {}

.position-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 74px;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 48px;
  }
}

.position-accordion {
  &:last-child {
    .accordion-block {
      border-bottom: 1px solid $gainsboro
    }
  }
}

.position-vacancy {
  color: red;
  font-size: 16px;
  font-weight: bold;
}