.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: $sec-timing-function;
  transform: scale(1.6);

  &.is-loading {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
}

.preload-letters {
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 263px; 
  flex-shrink: 0;
  animation: slideUpEnter 1s ease-out forwards;
  transform: translateY(45px);
  opacity: 0;

  span {
    display: inline-block;
    vertical-align: bottom;
  }

  .is-slideOut & {
    animation: slideUpOut 1s ease-out forwards;
  }
}

.preload-image {
  flex-shrink: 0;
  width: 133px;
  margin-top: 30px;
  display: block;
  animation: slideUpEnter 1s 0.5s ease-out forwards;
  transform: translateY(45px);
  opacity: 0;

  img {
    display: block;
    width: 100%;
  }

  .is-slideOut & {
    transform: translateY(0);
    opacity: 1;
    animation: slideUpOut 1s 0.3s ease-out forwards;
  }
}

@keyframes slideUpEnter {
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-45px);
    opacity: 0;
  }
}