.process {
  position: relative;
  z-index: 1;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 53px;
  }

  &::before {
    height: 100%;
    background-color: $zircon; 
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';

    @include viewport($breakpoint-mobile) {
      display: none;
    }
  }

  &.is-even {
    &::before {
      left: auto;
      right: 0;
    }
  }
}

.process-block {
  display: flex;
  padding: 156px 0;

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 0;
  }
}

.process-frame,
.process-content {
  width: calc(100%/2);

  @include viewport($breakpoint-mobile) {
    width: 100%;
  }
}

.process-frame {
  display: flex;
  position: relative;

  @include viewport($breakpoint-mobile) {
    background-color: $zumthor;
    padding: 56px;
    margin-bottom: 63px;
  }
}

.process-inner-frame {
  width: 360px;
  flex-shrink: 0;

  @include viewport($breakpoint-mobile) {
    width: 100%;
  }
}

.process-image {
  width: 100%;
  display: block;
}

.process-image-text {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);

  @include viewport($breakpoint-mobile) {
    right: 45px;
    width: 22px;
  }
}

.process-wrap {
  max-width: 360px;
  width: 100%;

  @include viewport($breakpoint-mobile) {
    padding: 0 18px;
  }
}

.process-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.process-label {
  font-size: 13px;
  font-weight: 600;
  color: $echo-blue;
  display: inline-block;
  margin-bottom: 46px;
  position: relative;
  padding-left: 50px;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 37px;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    height: 1px;
    width: 34px;
    background-color: $echo-blue;
    transform: translateY(-50%);
  }
}

.process-heading {
  font-size: 20px;
  margin-bottom: 33px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.04em;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 17px;
  }
}

.process-text {
  font-size: 15px;
  line-height: 2;

  @include viewport($breakpoint-mobile) {
    font-size: 13px;
    font-weight: 300;
  }
}

.is-even {
  .process-block {
    flex-direction: row-reverse;

    @include viewport($breakpoint-mobile) {
      display: block;
    }
  }

  .process-content {
    justify-content: flex-start;
  }

  .process-frame {
    justify-content: flex-end;
  }

  .process-image-text {
    right: auto;
    left: -15px;

    @include viewport($breakpoint-mobile) {
      left: auto;
      right: 45px;
    }
  }
}