.shoplist-item {
  display: inline-block;
  padding: 0 10px 5px 0;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

.shoplist-title {
  color: $white;
  font-size: 12px;
  padding: 0 0 17px;
}

.shoplist-link {
  color: $white;
  font-size: 12px;
  text-decoration: underline;
}