.side-copyright {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
  display: flex;
  align-items: center;

  @include viewport($breakpoint-mobile) {
    display: none;
  }
}

.side-copyright-text {
  font-family: $ttcommons;
  font-size: 11px;
  color: #bbb;
  writing-mode: vertical-lr;
  margin: 0 auto;
}