.single-news,
.single-sdg {
  visibility: hidden;
  .header,
  .footer {
    display: none;
  }
}

.single-wrap {
  padding: 150px 0;
  width: 70%;
  background-color: $white;
  position: relative;
  z-index: 2;
  overflow: scroll;

  @include viewport($breakpoint-mobile) {
    width: 90%;
    padding: 150px 0;
  }
}

.single-wrapper {
  padding: 0 120px;
  background-color: $white;
  position: relative;
  overflow: hidden;

  @include viewport($breakpoint-mobile) {
    padding: 0 27px;
  }
}

.single-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 100px;

  &.single-heading-sdg {
    padding: 0 0 40px;

    @include viewport($breakpoint-mobile) {
      padding: 0 0 10px;
    }
  }

  @include viewport($breakpoint-mobile) {
    display: block;
  }
}

.single-date {
  font-family: $ttcommons;
}

.single-title {
  font-size: 22px;
  line-height: 1.7;
  flex: 0 0 70%;
  font-weight: 600;
  font-family: $midashi-go;

  &.single-title-sdg {
    flex: 0 0 100%;
  }

  @include viewport($breakpoint-mobile) {
    font-size: 17px;
    padding: 0 0 15px;
    flex: 0;
  }
}

.single-content {
  h2 {
    font-size: 20px;
    line-height: 1.7;
    padding: 0 0 50px;
    font-weight: 600;
    font-family: $midashi-go;
  }

  p {
    font-size: 17px;
    line-height: 1.7;

    a {
      color: $echo-blue;
      text-decoration: underline;
    }

    @include viewport($breakpoint-mobile) {
      font-size: 13px;
    }
  }

  .wp-caption {
    margin: 90px auto;

    img {
      width: 100%;
      height: auto;
    }

    @include viewport($breakpoint-mobile) {
      width: 100% !important;
    }
  }

  .wp-caption-text {
    font-size: 11px;
    padding: 10px 0 0;
  }
}

.single-content-img-wrap {
  text-align: center;
  margin: 0 0 100px;

  @include viewport($breakpoint-mobile) {
    margin: 0 0 50px;
  }
}

.single-content-img {
  max-width: 100%;
}

.single-share {
  border-top: 1px solid $gainsboro;
  border-bottom: 1px solid $gainsboro;
  margin: 100px 0;
  padding: 100px 0;
  text-align: center;

  .social-icon-icon {
    color: $nero;
    border: 1px solid $nero;
  }

  .social-icon-list {
    justify-content: center;
  }
}

.single-share-heading {
  font-size: 15px;
  padding: 0 0 27px;
  font-weight: 600;
  font-family: $midashi-go;
}

.single-btn {
  text-align: center;

  .button-svg-wrap {
    width: 214px;
    height: 214px;

    @include viewport($breakpoint-mobile) {
      width: 150px;
      height: 150px;
    }
  }

  &.single-btn-sdg {
    margin: 70px 0 0;
  }
}

.single-sdg-logo {
  margin: 0 0 90px;

  @include viewport($breakpoint-mobile) {
    margin: 0 0 60px;
  }
}

.single-sdg-logo-list {
  display: flex;
}

.single-sdg-logo-link {
  display: block;
}