.single-news,
.single-sdg {
  visibility: hidden;
  .header,
  .footer {
    display: none;
  }
}

.single-wrap {
  padding: 150px 0;
  width: 70%;
  background-color: $white;
  position: relative;
  z-index: 2;
  overflow: scroll;
  cursor: default;

  @include viewport($breakpoint-mobile) {
    width: 85%;
    padding: 89px 0 150px 0;
  }
}

.single-wrapper {
  padding: 0 120px;
  background-color: $white;
  position: relative;
  overflow: hidden;

  @include viewport($breakpoint-mobile) {
    padding: 0 20px;
  }
}

.single-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 0 100px;

  &.single-heading-sdg {
    padding: 0 0 40px;

    @include viewport($breakpoint-mobile) {
      padding: 0 18px 10px;
    }
  }

  @include viewport($breakpoint-mobile) {
    display: block;
    padding: 0 15px 45px;
  }
}

.single-date {
  font-family: $ttcommons;
  padding: 12px 0 0;

  @include viewport($breakpoint-mobile) {
    padding: 0;
  }
}

.single-title {
  font-size: 22px;
  line-height: 1.7;
  flex: 0 0 70%;
  font-weight: 600;
  font-family: $midashi-go;

  &.single-title-sdg {
    flex: 0 0 100%;

    @include viewport($breakpoint-mobile) {
      padding: 0 0 10px;
    }
  }

  @include viewport($breakpoint-mobile) {
    font-size: 17px;
    padding: 0 0 15px;
    flex: 0;
  }
}

.single-content {
  h2 {
    font-size: 20px;
    line-height: 1.7;
    padding: 0 0 50px;
    font-weight: 600;
    font-family: $midashi-go;

    @include viewport($breakpoint-mobile) {
      font-size: 15px;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 1.7;
    padding: 0 0 50px;
    font-weight: 600;
    font-family: $midashi-go;

    @include viewport($breakpoint-mobile) {
      font-size: 14px;
    }
  }

  h4 {
    font-size: 16px;
    line-height: 1.7;
    padding: 0 0 50px;
    font-weight: 600;
    font-family: $midashi-go;

    @include viewport($breakpoint-mobile) {
      font-size: 14px;
    }
  }

  h5 {
    font-size: 14px;
    line-height: 1.7;
    padding: 0 0 50px;
    font-weight: 600;
    font-family: $midashi-go;

    @include viewport($breakpoint-mobile) {
      font-size: 13px;
    }
  }

  h6 {
    font-size: 12px;
    line-height: 1.7;
    padding: 0 0 50px;
    font-weight: 600;
    font-family: $midashi-go;

    @include viewport($breakpoint-mobile) {
      font-size: 12px;
    }
  }

  blockquote {
    padding: 35px 35px 35px 50px;
    position: relative;
    background: #eaeaea;
    margin: 0 0 50px;
    border-left: 10px solid #ccc;

    &:before {
      content: "“";
      position: absolute;
      left: 3px;
      top: 2px;
      font-size: 67px;
      font-style: italic;
      line-height: 1.5;
    }

    ul {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  ul {
    padding: 0 0 50px 30px;
    list-style-type: disc;
    
    li {
      padding: 0 0 20px;
      font-size: 17px;
    }
  }

  ol {
    padding: 0 0 50px 30px;
    list-style-type: decimal;
    
    li {
      padding: 0 0 20px;
      font-size: 17px;
    }
  }

  p {
    font-size: 17px;
    line-height: 1.7;
    padding: 0 0 50px;

    a {
      color: $echo-blue;
      text-decoration: underline;
    }

    @include viewport($breakpoint-mobile) {
      font-size: 13px;
    }
  }

  pre {
    padding: 20px;
    background-color: #000;
    color: #fff;
    margin: 0 0 50px;
    font-family: monospace;
  }

  em {
    font-style: italic;
  }

  code {
    font-family: monospace;
    background-color: #eaeaea;
    padding: 15px;
    border-radius: 7px;
    display: block;
  }

  .wp-caption {
    margin: 90px auto;

    img {
      width: 100%;
      height: auto;
    }

    @include viewport($breakpoint-mobile) {
      width: 100% !important;
    }
  }

  .wp-caption-text {
    font-size: 11px;
    padding: 10px 0 0;
  }

  img {
    max-width: 100%;
  }
}

.single-content-img-wrap {
  text-align: center;
  margin: 0 0 100px;

  @include viewport($breakpoint-mobile) {
    margin: 0 0 50px;
  }
}

.single-content-img {
  max-width: 100%;
}

.single-share {
  border-top: 1px solid $gainsboro;
  border-bottom: 1px solid $gainsboro;
  margin: 100px 0;
  padding: 100px 0;
  text-align: center;

  .social-icon-icon {
    color: $nero;
    border: 1px solid $nero;
  }

  .social-icon-list {
    justify-content: center;
  }
}

.single-share-heading {
  font-size: 15px;
  padding: 0 0 27px;
  font-weight: 600;
  font-family: $midashi-go;
}

.single-btn {
  text-align: center;

  .button-svg-wrap {
    width: 214px;
    height: 214px;

    @include viewport($breakpoint-mobile) {
      width: 200px;
      height: 200px;
    }
  }

  &.single-btn-sdg {
    margin: 70px 0 0;
  }
}

.single-sdg-logo {
  margin: 0 0 90px;

  @include viewport($breakpoint-mobile) {
    margin: 0 0 47px;
  }
}

.single-sdg-logo-list {
  display: flex;
  flex-wrap: wrap;

  @include viewport($breakpoint-mobile) {
    padding: 0 18px;
  }
}

.single-sdg-logo-link {
  display: block;
  
  img {
    width: 76px;
    height: 76px;

    @include viewport($breakpoint-mobile) {
      width: 60px;
      height: 60px;
    }
  }
}