.social-icon-list {
  display: flex;
}

.social-icon-item {
  padding: 0 5px;
  position: relative;
  cursor: pointer;

  .header-social & {
    &:first-of-type {
      padding-left: 0;
    }
  }

  &.social-icon-item-line {
    &:hover {
      .social-icon-sub-item {
        visibility: visible;
      }
    }
  }

  &:hover {
    .social-icon-icon {
      background-color: $nero;

      &:before {
        color: $white;
      }
    }
  }
}

.social-icon-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid $white;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out;

  &:before {
    font-size: 35px;
    transition: color 0.5s ease-in-out;
  }
}

.social-icon-sub-item {
  position: absolute;
  left: -42px;
  width: 146px;
  bottom: 0;
  padding: 0 0 59px 0;
  visibility: hidden;
  //transition: visibility 0.5s ease-in-out;

  @include viewport($breakpoint-mobile) {
    left: -55px;
    padding: 0 0 55px 0;
  }
}

.social-icon-sub-item-content {
  background-color: #939DA2;
  padding: 14px 15px;
  border-radius: 5px;
  position: relative;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #939DA2 transparent transparent transparent;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -8px;
    transform: translateX(-50%);
  }
}

.social-icon-sub-list-item {
  padding: 0 0 10px;
}

.social-icon-sub-list-link {
  color: $white;
  font-size: 12px;
  text-decoration: underline;
  transition: opacity 0.5s ease-in-out;
  letter-spacing: 0;

  &:hover {
    opacity: 0.6;
  }
}