.staff {

}

.staff-block {
  padding: 10px 0;
}

.staff-heading {
  font-size: 20px;
  margin-bottom: 22px;
}

.staff-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staff-member {
  width: 460px;

  &:nth-child(2) {
    margin-top: 121px;
  }

  &:nth-child(2n+3) {
    margin-top: -32px;
  }

  &:nth-child(2n+4) {
    margin-top: 89px;
  }
}