.staff {

}

.staff-block {
  padding: 169px 0 0;

  @include viewport($breakpoint-mobile) {
    padding: 68px 0 0;
  }
}

.staff-heading {
  font-size: 20px;
  margin-bottom: 75px;
  font-weight: 600;
  font-family: $midashi-go;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    margin-bottom: 47px;
    padding-left: 21px;
  }
}

.staff-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include viewport($breakpoint-mobile) {
    justify-content: center;
  }
}

.staff-member {
  max-width: 460px;
  width: 100%;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 40px;
  }

  &:nth-child(2) {
    margin-top: 121px;

    @include viewport($breakpoint-mobile) {
      margin-top: 0;
    }
  }

  &:nth-child(2n+3) {
    margin-top: -32px;

    @include viewport($breakpoint-mobile) {
      margin-top: 0;
    }
  }

  &:nth-child(2n+4) {
    margin-top: 89px;

    @include viewport($breakpoint-mobile) {
      margin-top: 0;
    }
  }
}

.staff-button,
.staff-members-btn {
  margin-top: 85px;

  @include viewport($breakpoint-mobile) {
    margin-top: 19px;
  }
}

.stff-members-btn {
  margin-bottom: 171px;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 87px;
  }
}

.staff-related {
 background-color: $zircon;
 overflow: hidden;
 padding-top: 170px;
 padding-bottom: 158px;

 @include viewport($breakpoint-mobile) {
   padding-top: 67px;
   padding-bottom: 81px;
 }
}

.staff-related-wrap {
  position: relative;
  width: 1080px;
  margin: 0 auto;

  @include viewport($breakpoint-mobile) {
    width: 100%;
  }
}

.staff-related-block {
  width: 1440px;
  // width: 100%;
  position: relative;

  // padding-left: 12.4%;

  @include viewport($breakpoint-mobile) {
    padding-left:21px;
  }
}

.staff-related-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 74px;
  letter-spacing: 0.08em;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    margin-bottom: 49px;
    padding-left: 20px;
  }
}

.staff-related-members {
  display: flex;
  position: relative;

  .slick-slide {
    &:focus,
    &:active {
      outline: none;
    }
  }
}

.staff-related-slick-pager  {
  @include viewport($breakpoint-mobile) {
    padding: 0 20px;
    position: relative;
  }
}

.staff-related-slick-dots {
  display: none;
  position: relative;
  margin-top: 38px;
  margin-bottom: 32px;

  @include viewport($breakpoint-mobile) {
    display: block;
  }

  .slick-dots {
    position: relative;
    width: 100%;
    display: flex;
    height: 1px;
    background-color: #E5E5E5;
    bottom: auto;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
    }

    li {
      flex-grow: 1;
      height: 1px;
      margin: 0;
      transition: all 300ms ease-in-out;
    }

    button {
      display: none;
    }
  }

  .slick-active {
    background-color: $echo-blue;
  }
}

.staff-related-slick-nav {
  position: absolute;
  top: 52.3%;
  width: 100%;
  left: 0;
  transform: translateY(-50%);

  @include viewport($breakpoint-mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    transform: none;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: $white;
    border-radius: 50%;
    font-size: 0;

    @include viewport($breakpoint-mobile) {
      position: relative;
      width: 64px;
      height: 64px;
      margin: 0 12px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 26px;
      height: 7px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('#{$image-path}/slick-arrow-staff.png');
      z-index: 1;

      @include viewport($breakpoint-mobile) {
        width: 18px;
        height: 7px;
        background-size: contain;
      }
    }
  }

  .slick-next {
    top: 41%;
    transform: translateY(-50%);
    right: auto;
    left: 88.3%;

    @include viewport($breakpoint-mobile) {
      position: relative;
      transform: none;
      top: auto;
      left: auto;
    }
  }

  .slick-prev {
    opacity: 0;
    pointer-events: none;

    @include viewport($breakpoint-mobile) {
      display: block;
      pointer-events: auto;
      opacity: 1;
      left: auto;
      top: auto;
      transform: none;
    }

    &::before {
      transform: translate(-50%, -50%) scale(-1,1);
    }
  }
}

.staff-related-member {
  width: 460px;
  flex-shrink: 0;
  margin-right: 80px;

  @include viewport($breakpoint-mobile) {
    width: 300px;
    margin-right: 36px;
  }

  .member-heading {
    text-decoration: none;
  }
}