.staff {
 
}

.staff-block {
  padding: 169px 0 171px;

  @include viewport($breakpoint-mobile) {
    padding: 68px 0 87px;
  }
}

.staff-heading {
  font-size: 20px;
  margin-bottom: 75px;
  font-weight: 600;

  @include viewport($breakpoint-mobile) {
    font-size: 16px;
    margin-bottom: 47px;
    padding-left: 21px;
  }
}

.staff-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staff-member {
  width: 460px;

  @include viewport($breakpoint-mobile) {
    margin-bottom: 40px;
  }

  &:nth-child(2) {
    margin-top: 121px;

    @include viewport($breakpoint-mobile) {
      margin-top: 0;
    }
  }

  &:nth-child(2n+3) {
    margin-top: -32px;

    @include viewport($breakpoint-mobile) {
      margin-top: 0;
    }
  }

  &:nth-child(2n+4) {
    margin-top: 89px;
    
    @include viewport($breakpoint-mobile) {
      margin-top: 0;
    }
  }
}

.staff-button {
  margin-top: 85px;

  @include viewport($breakpoint-mobile) {
    margin-top: 19px;
  }
}

.staff-related {
 background-color: $zircon;
 overflow: hidden;
}

.staff-related-block {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 170px 0 158px;
}

.staff-related-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 74px;
  letter-spacing: 0.08em;
}

.staff-related-members {
  display: flex;
}

.staff-related-member {
  width: 460px;
  flex-shrink: 0;
  margin-right: 80px;
}