@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";


.slick-slide {
  //width: 198px !important;
}

// .ig {
//   #sb_instagram #sbi_images {
//     display: flex;
//     justify-content: flex-start;
//     float: none;
//   }
// }



.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-arrow {
  z-index: 50;
}

.slide {
  padding: 0 2px;
}
#sb_instagram {

  .sbi_photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 194px !important;
   // width: 194px !important;
    img {
      display: none;
    }
  }

}

#sb_instagram #sbi_images .sbi_item {
  width: 100% !important;
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}