.vision {
  background-color: $zircon;
  padding: 0 0 171px;
  margin: 100px 0 0;

  @include viewport($breakpoint-mobile) {
    padding: 0;
    margin: 60px 0 0;
  }
}

.vision-img-wrap {
  overflow: hidden;
}

.vision-img-img {
  width: 100%;

  .is-active & {
    animation: scale-out-center $fade-duration $fade-timing-function both;
  }
}

.vision-wrapper {
  background-color: $white;
  margin-top: -100px;
  position: relative;
  padding-bottom: 70px;

  @include viewport($breakpoint-mobile) {
    background: none;
  }
}

.vision-content-mainwrap {
  padding: 0 70px;

  @include viewport($breakpoint-mobile) {
    background-color: $white;
    padding: 0 40px 40px;
  }
}

.vision-content {
  padding: 90px 0;
  display: flex;
  justify-content: space-between;

  @include viewport($breakpoint-mobile) {
    padding: 40px 0;
    display: block;
  }
}

.vision-heading {
  font-size: 24px;
  line-height: 1.8;
  margin: 43px 0 0;

  @include viewport($breakpoint-mobile) {
    font-size: 20px;
  }
}

.vision-content-left {
  .is-active & {
    animation: fade-in 0.5s $fade-timing-function both;
  }
}

.vision-content-right {
  width: 420px;
  padding: 15px 0 0;

  .is-active & {
    animation: fade-in 0.5s 0.6s $fade-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    width: auto;
  }
}

.vision-text {
  line-height: 1.7;

  @include viewport($breakpoint-mobile) {
    font-size: 13px;
  }
}

.vision-btn {
  text-align:center;

  .is-active & {
    animation: fade-in 0.5s 0.9s $fade-timing-function both;
  }

  @include viewport($breakpoint-mobile) {
    text-align: left;
  }
}