html {
  -webkit-text-size-adjust: 100%
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: $font-smoothing;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: $font-smoothing;
	text-rendering: $text-rendering;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	letter-spacing: $base-letter-spacing;
	color: $base-font-color;
	background-color: $base-background-color;
	word-break: break-all;
	overflow-x: hidden;
	min-width: 1320px;

	@include viewport($breakpoint-mobile) {
		min-width: initial ;
  }
}

.wrap {
  &.is-scrollable {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
