//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;
$alegreya: 'Alegreya Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

//colors
$nero: #37383C;
$gainsboro: #e5E5E5;
$echo-blue: #93B6C7;
$zircon: #EBEFEF;
$zumthor: #D3DEE0;
$jordy-blue: #6CB6D8;
$solitude: #D6E2E7;
$submarine: #D6E2E7;
$white: #fff;

$text-rendering: auto;
$hiragino: "Hiragino Sans";
$font-yugothic: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
$base-font-family: $font-yugothic, "メイリオ", Meiryo, sans-serif;
$ttcommons: 'TTCommons';
$gothic-bbb: a-otf-gothic-bbb-pr6n;
$midashi-go: a-otf-midashi-go-mb31-pr6n;
$base-font-size: 14px;
$base-font-weight: 400;
$base-font-color: $nero;
$base-letter-spacing: 0.06em;
$base-background-color: $white;

$breakpoint-mobile: 767px;
$breakpoint-mobile-l: 425px;

$image-path: '../images';
$font-path: '../lib/fonts';

$site-size: 1080px + 60px;

$timing-function: ease-out;
$sec-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$duration: 300ms;
$fade-duration: 0.8s;
$fade-delay: 0.3s;
$fade-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);