.wrapper {
  margin: 0 auto;
  width: $site-size;
  padding: 0 30px;

  @include viewport($breakpoint-mobile) {
    width: 100%;
    padding: 0 19px
  }

  @include viewport($breakpoint-large, min) {
    width: $site-size-large;
  }
}

.wrap {
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  &.is-loading {
    overflow: hidden;
    height: 100vh;
  }
}